{% extends "myrestaurants/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
    
{% block header %}
<div class="ui inverted fixed menu">
    <div class="header item">
        <a href="/"><h2><i class="utensils icon"></i>Restaurants</h2></a>
    </div>
    <div class="right menu">
        <a class="active item link" href="#main"><i class="home icon"></i> Home</a>
        <a class="item link" href="#about"><i class="info circle icon"></i> About</a>
        {% if user.is_authenticated %}
            <a class="item" href="/restaurants/create/"><i class="plus circle icon"></i> Add Restaurant</a>
            <div class="ui dropdown item">
                <i class="list alternate outline icon"></i> Restaurants List
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for restaurant in latest_restaurant_list %}
                        <li class="item"><a href="{% url 'myrestaurants:restaurant_detail' restaurant.id %}" style="color: black;">{{ restaurant.name }}</a></li>
                    {% empty %}<li class="item">Sorry, no restaurants registered yet.</li>
                    {% endfor %}
                </div>
            </div>
            <a class="item" href="accounts/logout/"><i class="user circle icon"></i> Sign out</a>
        {% else %}
            <a class="item" href="accounts/login/"><i class="user circle icon"></i> Sign in</a>
        {% endif %}
    </div>
</div>
{% endblock header %}
        
{% block content %}
    <div class="ui inverted vertical masthead center aligned segment" id="main">
        <div class="ui text container">
            <h1 class="ui inverted header main-title">
                Restaurant
            </h1>
            <p class="main-subtitle">" The best restaurants "</p>
            <hr>
        </div>
    </div>
  
    <div class="ui vertical stripe segment" id="about">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="center aligned nine wide column">
                    <h1 class="about_title">About us</h1><br>
                    <div class="icon"><i class="big utensils icon"></i></div>
                    <p class="about-desc">
                        Our restaurants offer you good dishes, good juices, good services. you will find everything you want in our restaurants.
                    </p>
                </div>
                <div class="center aligned seven wide column">
                    <div class="pic-group">
                        <img src="{% static 'img/kabob.jpg' %}" width="250" height="220" />
                        <img src="{% static 'img/limes.jpg' %}" width="250" height="220" />
                    </div>
                    <div class="ui divider"></div>
                    <div class="pic-group">
                        <img src="{% static 'img/radish.jpg' %}"  width="250" height="220" />
                        <img src="{% static 'img/corn.jpg' %}"  width="250" height="220" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}